@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,300&display=swap');

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #EAE2B7;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

#calculator {
  width: 500px;
  height: 700px;
  padding: 50px;
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 25px;

  background-color: #FCBF49;
}

#screen {
  height: 100px;
  border-radius: 25px;
  margin-bottom: 25px;
  
  background-color: #003049;
  color: #EAE2B7;

  font-size: 48px;
  text-align: right;
  line-height: 100px;
  padding-right: 15px;
}

#navigation-button-container {
  height: 75px;

  display: flex;
  flex-direction: row;
  background-color: white;
}

#math-button-container {
  flex: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: grey;
}

